<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="./main.js" defer>
  </script>
  <title>Document</title>
</head>

<body>
  <div id="root" class=" container mt-5" style="width: 60vw">
    <form v-show="isForm">
      <div class="progress col-12 px-0">
        <div class="progress-bar " role="progressbar"
          :style="{width: progress + '%'}" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <div class=" col-md-12 mb-3 px-0">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="name" @keyup="checkName"
          class="form-control"
          :class="{ 'is-valid': isNameValid, 'is-invalid' : !isNameValid}"
          v-model="name">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class=" col-md-12 mb-3 px-0">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="email" @keyup="checkEmail"
          class="form-control" v-model="email" :class="{ 'is-valid': isEmailValid, 'is-invalid' :
                    !isEmailValid }">

        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class=" col-md-12 mb-3 px-0">
        <label for="surname">Surname</label>
        <input type="text" id="surname" placeholder="surname"
          class="form-control" v-model="surname" @keyup="checkSurname" :class="{
          'is-valid': isSurnameValid, 'is-invalid' :
                    !isSurnameValid }">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <input type="submit" class="btn btn-success" :disabled="isButtonDisabled"
        @click.prevent="sendData" value="send data">
    </form>
    <h1 class="text-center" v-show="isData">Thanks you has choosed us</h1>
  </div>

</body>

</html>